<div class="d-flex flex-column vh-100 justify-content-between" style="background: #e9ecee">
  <div>
    <app-header></app-header>
  </div>

  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-6 col-xl-5">
        <div class="card border-0 rounded-0 p-4">
          <app-addresses></app-addresses>
        </div>
      </div>
      <div class="col-12 col-md-4 col-xl-3 py-5 py-md-0 d-flex flex-xl-column">
        <div class="align-self-xl-end">
          <app-cart></app-cart>
        </div>
      </div>
    </div>
  </div>

  <div>
    <app-footer></app-footer>
  </div>

</div>

