<div id="pageNotFound" class="d-flex vh-100 flex-column text-center justify-content-between">
  <div class="mt-5">
    <p class="display-3 fw-500" style="font-family: 'Passion One', cursive;color: orangered">LOOKS LIKE THIS PAGE GOT
      LOST
      IN
      THE MATRIX</p>
  </div>
  <div class="mb-5 fw-500 text-light fs-4" style="font-family: 'Nanum Pen Script', cursive;">
    <p>YOU TAKE THE BLUE PILL, THE STORY ENDS, YOU END UP ON OUR HOMEPAGE, AND BELIEVE WHATEVER YOU WANT TO BELIEVE.</p>
    <p>YOU TAKE THE RED PILL, YOU STAY IN WONDERLAND.</p>

  </div>
  <button class="home-button rounded-circle fw-bold" routerLink="/" style="font-family: 'Nanum Pen Script', cursive;">
    HOME
  </button>

  <button class="refresh rounded-circle fw-bold" (click)="onRefresh()"
          style="font-family: 'Nanum Pen Script', cursive;">REFRESH AGAIN
  </button>

</div>
